*
{
    font-family: "Cossette Titre", sans-serif;
}

html,body
{
    margin: 0;
    padding: 0;
}

body
{
    display: grid;
    grid-template-columns: 1em 1fr 1em ;
    grid-template-areas: 
    ".... .... ...."
    ".... head ...."
    ".... main ...."
    ".... foot ...."
    ".... .... ....";
    gap: 1em 0;
}

header
{
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
}

header h1
{
    font-size: 3rem;
    font-weight: bolder;
    transition: 0.5s;
}

.site-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: head;
}

nav a
{
    color: black;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    padding: 0.85em 0;
    display: block;
    transition: 0.5s;
}

nav a:hover
{
    color: #7428EA;
}

nav ul
{
    display: flex;
    gap: 3em;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

main
{
    grid-area: main;
    display: grid;
    gap: 1em;
    grid-template-columns: 1em;
    grid-template-areas: 
    "jour"
    "lapt" 
    "beac" 
    "cafe"
    "cate"
    "code"
    "moge";
}

@media (min-width: 500px) 
{
    main
    {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "jour jour"
        "lapt lapt"
        "beac beac"
        "cafe cafe"
        "cate cate"
        "code code"
        "moge moge";
    }   

    nav ul
    {
        gap: 1em;
        text-align: center;
    }
}

/* NOTE: EDIT THIS OUT TOO MATCH THE FIGMA DESCRIPTION */
@media (min-width:870px)
{
    main
    {
        grid-template-columns: repeat(9, 1fr) repeat(3, minmax(70px,1fr));
        grid-template-areas:
        "jour jour jour jour lapt lapt lapt beac beac beac cafe cafe"
        "cate cate cate code code code moge moge moge .... cafe cafe";
    }
}

/* @media (min-width:1920px)
{
    main
    {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "jour jour jour"
        "lapt beac cafe"
        "cate code moge";
    }
} */

a:hover, a:focus
{
    filter: brightness(0.9);
}

a:focus
{
    outline: 3px solid #7428EA;
    box-shadow: 0 0 0 3px #7428EA;
    transition: 0.2s ease;
}

article
{
    border-radius: 0.5em;
    background-color: rgb(255, 254, 254);
    height: 100%;
}

.article-header
{
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
}

img
{
    width: 100%;
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
}

.site-footer
{
    grid-area: foot;
    text-align: center;
}

h1
{
    color: black;
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

h2
{
    color: black;
    margin: 0;
    text-transform: uppercase;
}

h3
{
    color: black;
    margin: .4em 0;
    font-weight: 500;
}

p
{
    margin: 0;
    font-size: .85rem;
    color: red;
}

.journey
{
    grid-area: jour;
}

.laptop
{
    grid-area: lapt;
}

.beach
{
    grid-area: beac;
}

.cafe
{
    grid-area: cafe;
}

.cat
{
    grid-area: cate;
}

.code
{
    grid-area: code;
}

.mog
{
    grid-area: moge;
}

.yed
{
    transition: 0.5s;
}

.yed:hover
{
    color: #7428EA;
}

.learn
{
transition: 0.5s;    
}

.learn:hover
{
    color: #7428EA;
}