*
{
    font-family: "Cossette Titre", sans-serif;
}

html,body
{
    margin: 0;
    padding: 0;
}

body
{
    display: grid;
    grid-template-columns: 1em 1fr 1em ;
    grid-template-areas: 
    ".... .... ...."
    ".... head ...."
    "main main main"
    ".... foot ...."
    ".... .... ....";
    gap: 1em 0;
}

header
{
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
}

header h1
{
    font-size: 3rem;
    font-weight: bolder;
    transition: 0.5s;
}

.site-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: head;
}

/* SPECIAL TREATMENT FOR JOURNEY CLASS */
.journey-article {
    background: url("images/laptop.jpg") center/cover no-repeat;
    position: relative;
    padding: 2em;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    border-radius: 0.5em;
}

.journey-article::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; 
    height: 100%;
    border-radius: 0.5em;
}

.journey-article .article-header {
    position: relative;
    z-index: 1; 
}

.journey-article h2
{
    font-size: 2rem;
    text-shadow: 0 0 3px white;
}

.journey-article h3
{
    font-size: 1.5rem;
    text-shadow: 0 0 3px white;
}


/* NAV */
nav a
{
    color: black;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    padding: 0.85em 0;
    display: block;
    transition: 0.5s;
}

nav a:hover
{
    color: #7428EA;
}

nav ul
{
    display: flex;
    gap: 3em;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
 
/* MAIN */
main
{
    padding: 1em;
    grid-area: main;
    display: grid;
    gap: 1em;
    grid-template-columns: 1em;
    grid-template-areas: 
    "jour"
    "lapt" 
    "beac" 
    "cafe"
    "cate"
    "code"
    "moge";
}

@media (min-width: 400px) 
{
    main
    {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "jour jour"
        "lapt lapt"
        "beac beac"
        "cafe cafe"
        "cate cate"
        "code code"
        "moge moge";
    }   

    nav ul
    {
        gap: 1em;
        text-align: center;
    }
}

@media (min-width:870px)
{
    main
    {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "jour jour jour"
        "lapt beac cafe"
        "cate code moge";
    }
}

/* Anchor Related */
a
{
    transition: 0.5s;
    cursor: pointer;
}

a:hover, a:focus
{
    filter: brightness(0.9);
}

main a:hover, main a:focus
{
    filter: invert(1);
}

a:focus
{
    transition: 0.2s ease;
}

article
{
    border-radius: 0.5em;
    background-color: rgb(255, 254, 254);
    height: 100%;
}

.article-header
{
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
}

img
{
    width: 100%;
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
    height: 400px ;
}

.site-footer
{
    grid-area: foot;
    text-align: center;
}

h1
{
    color: black;
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

h2
{
    color: black;
    margin: 0;
    text-transform: uppercase;
}

h3
{
    color: black;
    margin: .4em 0;
    font-weight: 500;
}

p
{
    margin: 0;
    font-size: .85rem;
    color: red;
}

.journey
{
    grid-area: jour;
}

.laptop
{
    grid-area: lapt;
}

.beach
{
    grid-area: beac;
}

.cafe
{
    grid-area: cafe;
}

.cat
{
    grid-area: cate;
}

.code
{
    grid-area: code;
}

.mog
{
    grid-area: moge;
}

.yed
{
    transition: 0.5s;
}

.yed:hover
{
    color: #7428EA;
}

.learn
{
transition: 0.5s;    
}

.learn:hover
{
    color: #7428EA;
}

#darkToggle
{
    font-size: 1rem;
    border: 1px solid black;
    padding: .2em;
    background-color: white;
    transition: 0.5s;
}

#darkToggle:hover
{
    color: #7428EA;
    box-shadow: 0 0 10px black;
}

/* DARK MODE */
body.dark-mode {
  background-color:black;
  color: white;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode p,
body.dark-mode a   
{
    color: white;
    transition: 0.5s;
}

body.dark-mode a:hover
{
    color: #7428EA;
}  

body.dark-mode article h2,
body.dark-mode article h3
{
    color: black;
}

body.dark-mode article p
{
    color: red;
}

body.dark-mode #darkToggle {
    background-color: black;
    color: white;
    border: 1px solid white;
}

body.dark-mode #darkToggle:hover {
    background-color: white;
    color: #7428EA;
    box-shadow: 0 0 10px white;
}